<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Index Page</h1>
    <p> <%= notice %></p>

    <% @post.each do |post| %>

    <p> ID <%= post.id %> </p>
    <p>Title <%= post.title %> </p> 
    <p>Body <%= post.body %> </p> 
    <p> <%= link_to  "Show Post ", post_path(post) %></p>
    <p> <%= link_to  "Edit Post ", edit_post_path(post) %></p>
    <p> <%= link_to  "Erase", post, method: :delete, data: {confirm: "Are you sure you wanna Delete This Post?"} %></p>
    <% end %>

    <p> <%= link_to  "Create a Post ", new_post_path %></p>
</body>
</html>